.search-area{
  width: 20rem;
  height: 3rem;
}

.search-btn{
  height: 3rem;
}

.movie-show{
  width: 300px;
  height: 580px;
  margin: 2rem:
}

.movie-show > p{
  width: auto;
  height: 2rem;
}

.movie-show > img{
  /* width: 300px;
  height: 450px; */
}
